{# templates/lucky/letter.html.twig #}
{% extends "base.html.twig" %}

{% block title %}C'est ton petit letter kinder{% endblock %}

{% block body %}
<h1>Your lucky letter is {{ letter }}</h1>
{% endblock %}